{% extends 'shop/basic.html' %}
{% block title %} Welcome to My Awesome Cart {% endblock %}
{% block body %}
<script> window.location="/shop";</script>
<style>
body {
  background-color: #FAEBD7;
}


</style>


  <div class="jumbotron">
  <h1 class="display-4"><b>Welcome to My Awesome Cart</b></h1>
  <p class="lead">My Awesome Cart is a India's most loving</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
</div>
<script> window.location="/shop";</script>

 

{% endblock %}